In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [1]:
x_train=pd.read_csv('X_test_8skS2ey.csv',low_memory=False)

NameError: name 'pd' is not defined

In [3]:
xtrain_copy = x_train.copy()

In [4]:
for i in range(1,25):
    xtrain_copy[f'item{i}']=xtrain_copy[f'item{i}'].fillna("")
    
    
xtrain_copy['item']=xtrain_copy['item1']
for i in range(2,25):
    xtrain_copy['item'] = xtrain_copy['item'] + " " + xtrain_copy[f'item{i}']
    
for i in range(1,25):
    xtrain_copy=xtrain_copy.drop([f'item{i}'],axis=1)

In [5]:
for i in range(1,25):
    
    xtrain_copy[f'cash_price{i}'] = xtrain_copy[f'cash_price{i}'].fillna(0)
    
xtrain_copy['cash_price']=xtrain_copy['cash_price1']
for i in range(2,25):
    xtrain_copy['cash_price'] = xtrain_copy['cash_price'] + xtrain_copy[f'cash_price{i}']

for i in range(1,25):
    xtrain_copy=xtrain_copy.drop([f'cash_price{i}'],axis=1)

In [6]:
for i in range(1,25):
    
    xtrain_copy[f'make{i}'] = xtrain_copy[f'make{i}'].fillna("")

xtrain_copy['make']=xtrain_copy['make1']
for i in range(2,25):
    xtrain_copy['make'] = xtrain_copy['make'] + " " + xtrain_copy[f'make{i}']

for i in range(1,25):
    xtrain_copy=xtrain_copy.drop([f'make{i}'],axis=1)

In [7]:
for i in range(1,25):
    
    xtrain_copy[f'model{i}'] = xtrain_copy[f'model{i}'].fillna("")
xtrain_copy['model']=xtrain_copy['model1']
for i in range(2,25):
    xtrain_copy['model'] = xtrain_copy['model'] + " " + xtrain_copy[f'model{i}']

for i in range(1,25):
    xtrain_copy=xtrain_copy.drop([f'model{i}'],axis=1)

In [8]:
for i in range(1,25):
    xtrain_copy=xtrain_copy.drop([f'goods_code{i}'],axis=1)
    xtrain_copy=xtrain_copy.drop([f'Nbr_of_prod_purchas{i}'],axis=1)

In [9]:
xtrain_copy.head()

,ID,Nb_of_items,item,cash_price,make,model
0,64707,1.0,HEALTH BEAUTY ELECTRICAL,399.0,DYSON,DYSON CORRALE CORD-FREE HAIR STRAIGHTENERS ...
1,63919,1.0,COMPUTER PERIPHERALS ACCESSORIES ...,294.0,SAMSUNG,SAMSUNG GALAXY WATCH 4 CLASSIC BLUETOOTH 46MM ...
2,15664,1.0,COMPUTERS,929.0,APPLE,2020 APPLE MACBOOK AIR
3,6626,2.0,COMPUTERS FULFILMENT CHARGE,546.0,APPLE RETAILER,"2020 APPLE IPAD AIR 10.9"" RETAILER ..."
4,26766,1.0,COMPUTERS,2470.0,APPLE,2019 APPLE MACBOOK PRO 16 TOUCH BAR INTEL CORE...

In [10]:
data=xtrain_copy.copy()

In [11]:
# Supprimer les doublons et espaces

for i in range(data.shape[0]):
    
    resultantList = []
    for element in (data['item'][i].split()):
        if element not in resultantList:
            resultantList.append(element)
    data['item'][i] = resultantList

C:\Users\admin\AppData\Local\Temp\ipykernel_1336\2091822257.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['item'][i] = resultantList

In [12]:
# convert list to chaine

for i in range(data.shape[0]):

    mystring = ''
    for x in data['item'][i]:
        mystring += ''+ x
    data['item'][i] = mystring

C:\Users\admin\AppData\Local\Temp\ipykernel_1336\2155603033.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['item'][i] = mystring

In [13]:
# Supprimer les doublons et espaces

for i in range(data.shape[0]):
    
    resultantList = []
    for element in (data['make'][i].split()):
        if element not in resultantList:
            resultantList.append(element)
    data['make'][i] = resultantList

C:\Users\admin\AppData\Local\Temp\ipykernel_1336\1052069911.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['make'][i] = resultantList

In [14]:
# convert list to chaine


for i in range(data.shape[0]):

    mystring = ''
    for x in data['make'][i]:
        mystring += ''+ x
    data['make'][i] = mystring

C:\Users\admin\AppData\Local\Temp\ipykernel_1336\1011731607.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['make'][i] = mystring

In [15]:
# Supprimer les doublons et espaces

for i in range(data.shape[0]):
    
    resultantList = []
    for element in (data['model'][i].split()):
        if element not in resultantList:
            resultantList.append(element)
    data['model'][i] = resultantList

C:\Users\admin\AppData\Local\Temp\ipykernel_1336\1773954395.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['model'][i] = resultantList

In [16]:

# convert list to chaine
for i in range(data.shape[0]):

    mystring = ''
    for x in data['model'][i]:
        mystring += ''+ x
    data['model'][i] = mystring

C:\Users\admin\AppData\Local\Temp\ipykernel_1336\2041522211.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['model'][i] = mystring

# data processing

In [17]:
from sklearn import preprocessing

number = preprocessing.LabelEncoder()
#number = preprocessing.OneHotEncoder()

data['make'] = number.fit_transform(data.make)
data['item'] = number.fit_transform(data.item)
data['model'] = number.fit_transform(data.model)

In [18]:
data.head()

      ID  Nb_of_items  item  cash_price  make  model
0  64707          1.0   642       399.0   259   1912
1  63919          1.0   332       294.0   741   3674
2  15664          1.0   400       929.0    46    210
3   6626          2.0   494       546.0   125    103
4  26766          1.0   400      2470.0    46     29

In [19]:
data.to_csv('pre_process_xtest.csv')